* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}

section {
    height: 100vh;
    background-color: pink;

}

.puntaje{
    height: 20vh;
    display: flex;/*elemento al lado del otro*/
    justify-content: space-around;
    align-items: center;
}

.puntaje h2{
    font-size: 40px;
}

.puntaje p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.tablero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}

.tablero button {
    width: 100px;
    height: 100px;
    font-size: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.tablero button img{
    height: 50px;
}

.tablero button:hover{
    background-color: red;
    border-color: blue;
}

.tablero button:focus {
    outline: 0;
}

.resultado{
    text-align: center;
    font-size: 50px;
    margin-bottom: 1rem;
}

.manos img{
    width: 250px;
}

.manos,
.opciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.jugando .manos img{
    animation: shake 2s ease;
}
@media only screen and (max-width: 768px) {
    .manos img{
        width: 150px;
    }

    .puntajes h2 {
        font-size: 18px;
    }

    .resultado{
        font-size: 18px;
    }

    .tablero button {
        width: 88px;
        height: 80px;
    }

    .tablero button img {
        height: 40px;
    }
}

@keyframes shake {
    0% {
      transform: translateY(0px);
    }
    15% {
      transform: translateY(-25px);
    }
    25% {
      transform: translateY(0px);
    }
    35% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(0px);
    }
    65% {
      transform: translateY(-25px);
    }
    75% {
      transform: translateY(0px);
    }
    85% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0px);
    }
  }